@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-clickable .swiper-pagination-bullet {
    content: "";
    border: 1px solid #FF725E;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    content: "";
}

.swiper-pagination-bullet-active::before {
    content: "";
    background: #FF725E;
    border-radius: 50%;
    display: inline-block;
    margin: 2px;
    width: 14px;
    height: 14px;


}

.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    top: 280px;
}